name: Build

on:
  workflow_call:
    inputs:
      configuration:
        description: "Build configuration"
        required: false
        type: string
        default: "Release"
      dotnet-version:
        description: ".NET SDK version"
        required: false
        type: string
        default: "10.x"

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --no-restore -c ${{ inputs.configuration }}
